# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.phpcq/build
.build/
.external*/
.idea/
nbproject/

# symfony related
var
.env*.local
# composer related
vendor/

# phpunit releated
.phpunit.result.cache

# phpcq related
.phpcq
.phpcq.yaml
